.main-content-main-content {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
.main-content-container100 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  flex-direction: column;
  background-size: cover;
  background-image: url("/blockchain-shape.svg");
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  background-position: center;
  border-bottom-width: 0.5px;
}
.main-content-container101 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 80px;
  display: flex;
  position: absolute;
  box-shadow: 0px 5px 5px 0px #f3f4fe;
  align-items: center;
  border-color: rgba(213, 213, 213, 0.5);
  border-width: 1px;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
  background-color: #fff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0.5px;
}
.main-content-container102 {
  gap: 10px;
  width: 310px;
  display: flex;
  align-items: center;
}
.main-content-container103 {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 4px;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, rgba(189, 195, 199, 0) 0.00%,rgba(75, 10, 136, 0.3) 99.00%);
}
.main-content-container104 {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
.main-content-image10 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content-text100 {
  fill: #444f60;
  color: #444f60;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}
.main-content-container105 {
  gap: 30px;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
.main-content-link10:hover {
  opacity: 1;
  font-weight: 600;
}
.main-content-link11:hover {
  opacity: 1;
  font-weight: 600;
}
.main-content-link12:hover {
  opacity: 1;
  font-weight: 600;
}
.main-content-text101:hover {
  opacity: 1;
  font-weight: 600;
}
.main-content-container106 {
  gap: 10px;
  flex: 0 0 auto;
  width: 310px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.main-content-link13 {
  display: contents;
}
.main-content-container107 {
  flex: 1.5;
  z-index: 100;
  box-shadow: 3px 3px 10px 0px #adadad;
  border-radius: 24px;
  text-decoration: none;
}
.main-content-link14 {
  display: contents;
}
.main-content-container108 {
  z-index: 100;
  border-radius: 24px;
}
.main-content-container109 {
  flex: 0 0 auto;
  width: 200px;
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container110 {
  gap: 40px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 80px;
  flex-direction: column;
  padding-bottom: 2%;
}
.main-content-container111 {
  gap: 40px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 10%;
}
.main-content-container112 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container113 {
  gap: 15px;
  flex: 1.5;
  height: 423px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.main-content-container114 {
  display: flex;
  padding: 1%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  border-color: rgba(213, 213, 213, 0.3);
  border-width: 1px;
  border-radius: 15px;
  flex-direction: column;
  background-color: #fff;
}
.main-content-image11 {
  width: 60px;
  object-fit: cover;
}
.main-content-container115 {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.main-content-container116 {
  flex: 1;
  border-radius: 24px;
  text-decoration: none;
}
.main-content-container117 {
  z-index: 100;
  border-radius: 24px;
}
.main-content-container118 {
  gap: 10px;
  flex: 0 0 auto;
  width: 507px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  padding-left: 20px;
  border-radius: 30px;
  padding-right: 5px;
  animation-name: slideInUp;
  flex-direction: row;
  padding-bottom: 5px;
  animation-delay: 0s;
  justify-content: flex-start;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.main-content-textinput1 {
  flex: 1.8;
  height: 100%;
}
.main-content-link17 {
  display: contents;
}
.main-content-container119 {
  width: 150px;
  z-index: 100;
  border-radius: 24px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.main-content-container120 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: contain;
  background-image: url("/blockchain-hero-1-core-1500h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.main-content-image12 {
  width: 100%;
  height: 100%;
  display: none;
  object-fit: cover;
}
.main-content-container121 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content-container122 {
  display: flex;
  padding: 10px;
  align-items: center;
  border-color: rgba(213, 213, 213, 0.4);
  border-width: 1px;
  border-radius: 15px;
  justify-content: center;
  background-color: #fff;
}
.main-content-container123 {
  gap: 10px;
  fill: var(--dl-color-primary-lila);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column-reverse;
  justify-content: center;
}
.main-content-icon14 {
  color: var(--dl-color-primary-lila);
}
.main-content-container124 {
  gap: 60px;
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: flex-start;
  padding-top: 5%;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  padding-bottom: 5%;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0.5px;
}
.main-content-container125 {
  gap: 80px;
  color: #fff;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 0px 0px 30px 0px #b0b2be;
  align-items: center;
  padding-top: 2%;
  padding-left: 5%;
  border-radius: 55px;
  margin-bottom: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  background-size: cover;
  background-image: url("/animated%20shape%20(1).svg");
}
.main-content-container126 {
  gap: 40px;
  flex: 0 0 auto;
  width: 526px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container127 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container128 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.main-content-text111 {
  font-style: normal;
  font-weight: 300;
}
.main-content-link18 {
  display: contents;
}
.main-content-container129 {
  gap: 20px;
  width: auto;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0);
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 1px;
  padding-left: 30px;
  border-radius: 24px;
  padding-right: 10px;
  flex-direction: row;
  text-decoration: none;
}
.main-content-container130 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #3c1c6b;
}
.main-content-icon18 {
  width: 20px;
  height: 20px;
}
.main-content-container131 {
  gap: 20px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container132 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 5%;
  align-items: flex-start;
  padding-left: 5%;
  border-radius: 25px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.17);
}
.main-content-container133 {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-content-container134 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
.main-content-image13 {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.main-content-text119 {
  opacity: 0.7;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
  padding-left: 70px;
}
.main-content-container135 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 5%;
  align-items: flex-start;
  border-radius: 25px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.17);
}
.main-content-container136 {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-content-container137 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
.main-content-image14 {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.main-content-text121 {
  opacity: 0.7;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
  padding-left: 70px;
}
.main-content-container138 {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-content-text122 {
  text-align: center;
}
.main-content-text124 {
  color: var(--dl-color-primary-lila);
  font-weight: 700;
}
.main-content-text125 {
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.main-content-container139 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container140 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.main-content-container141 {
  gap: 20px;
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 20px;
  flex-direction: column;
}
.main-content-container142 {
  flex: 0 0 auto;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-image15 {
  width: 100%;
  filter: invert(8%) sepia(30%) saturate(700%) hue-rotate(-10deg) brightness(47%);
  object-fit: cover;
}
.main-content-text126 {
  fill: var(--dl-color-primary-lila);
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.main-content-text127 {
  opacity: 0.8;
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.main-content-container143 {
  gap: 20px;
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}
.main-content-container144 {
  flex: 0 0 auto;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-image16 {
  width: 100%;
  filter: invert(8%) sepia(30%) saturate(700%) hue-rotate(-10deg) brightness(47%);
  object-fit: cover;
}
.main-content-text128 {
  fill: var(--dl-color-primary-lila);
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.main-content-text129 {
  opacity: 0.8;
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.main-content-container145 {
  gap: 20px;
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}
.main-content-container146 {
  flex: 0 0 auto;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-image17 {
  width: 100%;
  filter: invert(8%) sepia(30%) saturate(700%) hue-rotate(-10deg) brightness(47%);
  object-fit: cover;
}
.main-content-text130 {
  fill: var(--dl-color-primary-lila);
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.main-content-text131 {
  opacity: 0.8;
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.main-content-container147 {
  gap: 20px;
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex-direction: column;
}
.main-content-container148 {
  flex: 0 0 auto;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-image18 {
  width: 100%;
  filter: invert(8%) sepia(30%) saturate(700%) hue-rotate(-10deg) brightness(47%);
  object-fit: cover;
}
.main-content-text132 {
  fill: var(--dl-color-primary-lila);
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.main-content-text133 {
  opacity: 0.8;
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.main-content-container149 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.main-content-container150 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-content-container151 {
  flex: 1;
  width: 200px;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgba(189, 195, 199, 0) 1.00%,rgb(213, 213, 213) 100.00%);
}
.main-content-container152 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.main-content-container153 {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-primary-lila);
}
.main-content-container154 {
  flex: 1;
  width: 200px;
  height: 1px;
  display: flex;
  align-items: flex-start;
  padding-right: 20px;
  flex-direction: column;
  background-color: var(--dl-color-traffls-border);
}
.main-content-container155 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-content-container156 {
  flex: 1;
  width: 200px;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-traffls-border);
}
.main-content-container157 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.main-content-container158 {
  flex: 0 0 auto;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-primary-lila);
}
.main-content-container159 {
  flex: 1;
  width: 200px;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-traffls-border);
}
.main-content-container160 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-content-container161 {
  flex: 1;
  width: 200px;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-traffls-border);
}
.main-content-container162 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.main-content-container163 {
  flex: 0 0 auto;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-primary-lila);
}
.main-content-container164 {
  flex: 1;
  width: 200px;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-traffls-border);
}
.main-content-container165 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-content-container166 {
  flex: 1;
  width: 200px;
  height: 1px;
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  flex-direction: column;
  background-color: var(--dl-color-traffls-border);
}
.main-content-container167 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.main-content-container168 {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-primary-lila);
}
.main-content-container169 {
  flex: 1;
  width: 200px;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(213, 213, 213) 0.00%,rgba(213, 213, 213, 0) 100.00%);
}
.main-content-container170 {
  gap: 40px;
  width: 100%;
  display: flex;
  z-index: 101;
  box-shadow: 0px 0px 25px 0px rgba(120, 113, 126, 0.15);
  align-items: flex-start;
  padding-top: 5%;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  background-size: cover;
  justify-content: center;
  background-image: url("/animated%20shape%20(3).svg");
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0.5px;
}
.main-content-container171 {
  gap: 40px;
  width: 572px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-content-container172 {
  gap: 20px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  flex-direction: column;
}
.main-content-text134 {
  text-align: center;
}
.main-content-text136 {
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.main-content-text138 {
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.main-content-link19 {
  display: contents;
}
.main-content-container173 {
  gap: 20px;
  width: auto;
  padding-left: 30px;
  border-radius: 24px;
  padding-right: 10px;
  flex-direction: row;
  text-decoration: none;
}
.main-content-container174 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #3c1c6b;
}
.main-content-icon20 {
  width: 20px;
  height: 20px;
}
.main-content-container175 {
  gap: 60px;
  width: 100%;
  display: flex;
  z-index: 100;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: row-reverse;
  padding-bottom: 9%;
  background-size: contain;
  background-image: url("/bg-1500w.png");
  background-position: top;
}
.main-content-container176 {
  flex: 1;
  width: 564px;
  height: 330px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
.main-content-container177 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.main-content-text144 {
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.main-content-text146 {
  font-style: normal;
  text-align: right;
  font-weight: 300;
}
.main-content-link20 {
  display: contents;
}
.main-content-container178 {
  gap: 20px;
  width: auto;
  padding-left: 30px;
  border-radius: 24px;
  padding-right: 10px;
  flex-direction: row;
  text-decoration: none;
}
.main-content-container179 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #3c1c6b;
}
.main-content-icon22 {
  width: 20px;
  height: 20px;
}
.main-content-container180 {
  gap: 60px;
  flex: 1;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.main-content-container181 {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-content-container182 {
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
  display: flex;
  padding: 7%;
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, rgba(189, 195, 199, 0) 0.00%,rgba(75, 10, 136, 0.3) 99.00%);
}
.main-content-container183 {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
.main-content-image19 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content-container184 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-content-text153 {
  fill: #444f60;
  color: #444f60;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.main-content-text154 {
  font-style: normal;
  font-weight: 300;
}
.main-content-container185 {
  gap: 40px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
}
.main-content-container186 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container187 {
  gap: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-content-container188 {
  fill: var(--dl-color-theme-secondary1);
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-image: linear-gradient(45deg, rgba(189, 195, 199, 0) 0.00%,rgba(75, 10, 136, 0.3) 99.00%);
}
.main-content-container189 {
  gap: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-content-container190 {
  fill: var(--dl-color-primary-lila);
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-image: linear-gradient(45deg, rgba(189, 195, 199, 0) 0.00%,rgba(75, 10, 136, 0.3) 99.00%);
}
.main-content-container191 {
  gap: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-content-container192 {
  fill: var(--dl-color-primary-lila);
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-image: linear-gradient(45deg, rgba(189, 195, 199, 0) 0.00%,rgba(75, 10, 136, 0.3) 99.00%);
}
.main-content-container193 {
  gap: 20px;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container194 {
  gap: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-content-container195 {
  fill: var(--dl-color-primary-lila);
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-image: linear-gradient(45deg, rgba(189, 195, 199, 0) 0.00%,rgba(75, 10, 136, 0.3) 99.00%);
}
.main-content-container196 {
  gap: 10px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.main-content-container197 {
  fill: var(--dl-color-primary-lila);
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-image: linear-gradient(45deg, rgba(189, 195, 199, 0) 0.00%,rgba(75, 10, 136, 0.3) 98.00%);
}
.main-content-container198 {
  gap: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 2%;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  padding-bottom: 5%;
  background-color: #f5f6fa;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.main-content-text160 {
  text-align: center;
}
.main-content-text161 {
  color: #444f60;
  font-weight: 300;
}
.main-content-text162 {
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.main-content-text163 {
  color: #444f60;
  font-weight: 300;
}
.main-content-text164 {
  color: #444f60;
  font-weight: 300;
}
.main-content-text165 {
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.main-content-container199 {
  gap: 40px;
  width: 959px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container200 {
  gap: 40px;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.main-content-container201 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: flex;
  box-shadow: 0px 0px 10px 0px #e0e2e9;
  align-items: center;
  padding-top: 5%;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  padding-left: 40px;
  border-radius: 55px;
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: 5%;
  background-color: #fff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.main-content-container202 {
  display: flex;
  padding: 5%;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-image: linear-gradient(45deg, rgba(189, 195, 199, 0) 0.00%,rgba(75, 10, 136, 0.3) 100.00%);
}
.main-content-container203 {
  flex: 0 0 auto;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(155, 116, 215) 0.00%,rgb(104, 64, 165) 100.00%);
}
.main-content-text167 {
  fill: #444f60;
  color: #444f60;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}
.main-content-text168 {
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.main-content-container204 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: flex;
  box-shadow: 0px 0px 10px 0px #e0e2e9;
  align-items: center;
  padding-top: 5%;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  padding-left: 40px;
  border-radius: 55px;
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: 5%;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.main-content-container205 {
  display: flex;
  padding: 5%;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-image: linear-gradient(45deg, rgba(189, 195, 199, 0) 0.00%,rgba(75, 10, 136, 0.3) 99.00%);
}
.main-content-container206 {
  flex: 0 0 auto;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(155, 116, 215) 0.00%,rgb(104, 64, 165) 100.00%);
}
.main-content-text170 {
  fill: #444f60;
  color: #444f60;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}
.main-content-text171 {
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.main-content-container207 {
  gap: 40px;
  width: 100%;
  height: 285px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.main-content-container208 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: flex;
  box-shadow: 0px 0px 10px 0px #e0e2e9;
  align-items: center;
  padding-top: 5%;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  padding-left: 40px;
  border-radius: 55px;
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: 5%;
  background-color: #fff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.main-content-container209 {
  display: flex;
  padding: 5%;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-image: linear-gradient(45deg, rgba(189, 195, 199, 0) 0.00%,rgba(75, 10, 136, 0.3) 99.00%);
}
.main-content-container210 {
  flex: 0 0 auto;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(155, 116, 215) 0.00%,rgb(104, 64, 165) 100.00%);
}
.main-content-text173 {
  fill: #444f60;
  color: #444f60;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}
.main-content-text174 {
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.main-content-container211 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: flex;
  box-shadow: 0px 0px 10px 0px #e0e2e9;
  align-items: center;
  padding-top: 5%;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  padding-left: 40px;
  border-radius: 55px;
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: 5%;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.main-content-container212 {
  display: flex;
  padding: 5%;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-image: linear-gradient(45deg, rgba(189, 195, 199, 0) 0.00%,rgba(75, 10, 136, 0.3) 99.00%);
}
.main-content-container213 {
  flex: 0 0 auto;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(155, 116, 215) 0.00%,rgb(104, 64, 165) 100.00%);
}
.main-content-text176 {
  fill: #444f60;
  color: #444f60;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}
.main-content-text177 {
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.main-content-container214 {
  gap: 20px;
  color: #fff;
  width: 100%;
  display: flex;
  z-index: 100;
  box-shadow: 0px 0px 25px 0px rgba(120, 113, 126, 0.35);
  align-items: center;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  padding-bottom: 5%;
  background-size: cover;
  background-image: url("/animated%20shape.svg");
}
.main-content-container215 {
  display: flex;
  padding: 1%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  border-color: rgba(213, 213, 213, 0.3);
  border-width: 1px;
  border-radius: 15px;
  flex-direction: column;
  background-color: #fff;
}
.main-content-image20 {
  width: 60px;
  object-fit: cover;
}
.main-content-container216 {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-content-text178 {
  text-align: center;
}
.main-content-text179 {
  font-style: normal;
  font-weight: 300;
}
.main-content-text181 {
  font-style: normal;
  font-weight: 700;
}
.main-content-text182 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
}
.main-content-text183 {
  font-style: normal;
}
.main-content-text184 {
  font-style: normal;
}
.main-content-text185 {
  font-style: normal;
}
.main-content-text186 {
  font-weight: 700;
}
.main-content-text187 {
  font-weight: 700;
}
.main-content-container217 {
  gap: 10px;
  flex: 0 0 auto;
  width: 507px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: 0px;
  border-color: rgba(213, 213, 213, 0.3);
  border-width: 1px;
  padding-left: 20px;
  border-radius: 30px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.47);
}
.main-content-textinput2 {
  flex: 1.8;
  height: 100%;
  background-color: transparent;
}
.main-content-link21 {
  display: contents;
}
.main-content-container218 {
  gap: 10px;
  color: var(--dl-color-primary-lila);
  width: 150px;
  height: 48px;
  display: flex;
  z-index: 100;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0);
  align-items: center;
  border-radius: 0px;
  justify-content: center;
  background-color: #fff;
}
.main-content-container219 {
  fill: var(--dl-color-primary-lila);
  flex: 0 0 auto;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-lila);
}
.main-content-icon34 {
  width: 15px;
  height: 15px;
}
.main-content-container220 {
  gap: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  background-color: #f5f6fa;
}
.main-content-container221 {
  gap: 40px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-text189 {
  font-size: 38px;
}
.main-content-text191 {
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.main-content-text192 {
  display: inline-block;
}
.main-content-text193 {
  display: inline-block;
}
.main-content-text194 {
  display: inline-block;
}
.main-content-text195 {
  display: inline-block;
}
.main-content-text196 {
  display: inline-block;
}
.main-content-text197 {
  display: inline-block;
}
.main-content-text198 {
  display: inline-block;
}
.main-content-text199 {
  display: inline-block;
}
.main-content-text200 {
  display: inline-block;
}
.main-content-text201 {
  display: inline-block;
}
.main-content-text202 {
  display: inline-block;
}
.main-content-text203 {
  display: inline-block;
}
.main-content-text204 {
  display: inline-block;
}
.main-content-text205 {
  display: inline-block;
}
.main-content-text206 {
  display: inline-block;
}
.main-content-text207 {
  display: inline-block;
}
.main-content-container222 {
  gap: 20px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container223 {
  gap: 40px;
  color: #fff;
  width: 100%;
  display: flex;
  padding: 5%;
  box-shadow: 0px 0px 10px 0px #e0e2e9;
  align-items: center;
  border-color: var(--dl-color-traffls-border);
  border-style: solid;
  border-width: 1px;
  border-radius: 55px;
  flex-direction: column;
  background-size: cover;
  background-image: url("/hexagon.svg");
}
.main-content-text208 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.main-content-text209 {
  text-align: center;
}
.main-content-link22 {
  display: contents;
}
.main-content-container224 {
  gap: 20px;
  width: auto;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0);
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 1px;
  padding-left: 30px;
  border-radius: 24px;
  padding-right: 10px;
  flex-direction: row;
  text-decoration: none;
}
.main-content-container225 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #3c1c6b;
}
.main-content-icon36 {
  width: 20px;
  height: 20px;
}
.main-content-container226 {
  gap: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10%;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  padding-bottom: 5%;
  background-size: contain;
  background-image: url("/bg%20(1)-1500w.png");
  border-top-width: 0px;
  background-repeat: no-repeat;
  border-left-width: 0px;
  border-right-width: 0px;
  background-position: top;
  border-bottom-width: 0.5px;
}
.main-content-container227 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-content-text213 {
  color: var(--dl-color-primary-lila);
  font-weight: 700;
}
.main-content-text214 {
  font-style: normal;
  font-weight: 300;
}
.main-content-container228 {
  gap: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.main-content-container229 {
  gap: 40px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.main-content-container230 {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.main-content-container231 {
  gap: 10px;
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container232 {
  width: 100%;
  height: 42px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  padding-left: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 10px;
  flex-direction: column;
  background-color: #fff;
}
.main-content-textinput3 {
  width: 100%;
  height: 100%;
}
.main-content-container233 {
  gap: 10px;
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container234 {
  width: 100%;
  height: 42px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  padding-left: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 10px;
  flex-direction: column;
  background-color: #fff;
}
.main-content-textinput4 {
  width: 100%;
  height: 100%;
}
.main-content-container235 {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.main-content-container236 {
  gap: 10px;
  flex: 1;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container237 {
  width: 100%;
  height: 42px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  padding-left: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 10px;
  flex-direction: column;
  background-color: #fff;
}
.main-content-textinput5 {
  width: 100%;
  height: 100%;
}
.main-content-container238 {
  gap: 10px;
  flex: 1;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container239 {
  width: 100%;
  height: 42px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  padding-left: 10px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 10px;
  flex-direction: column;
  background-color: #fff;
}
.main-content-textinput6 {
  width: 100%;
  height: 100%;
}
.main-content-container240 {
  gap: 10px;
  flex: 1;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-text219 {
  font-style: normal;
  font-weight: 700;
}
.main-content-container241 {
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-color: var(--dl-color-traffls-border);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: #fff;
}
.main-content-textarea {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 10px;
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: transparent;
}
.main-content-link23 {
  display: contents;
}
.main-content-container242 {
  gap: 20px;
  width: 261px;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0);
  padding-left: 30px;
  border-radius: 24px;
  padding-right: 30px;
  flex-direction: row;
  text-decoration: none;
}
.main-content-container243 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 4%;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  padding-bottom: 2%;
  background-color: #fafbfd;
}
.main-content-container244 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-content-text223 {
  color: var(--dl-color-primary-lila);
  font-weight: 700;
}
.main-content-text224 {
  font-style: normal;
  font-weight: 300;
}
.main-content-container245 {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container246 {
  width: 100%;
}
.main-content-container247 {
  display: contents;
}
.main-content-container248 {
  gap: 20px;
  color: #fff;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: row;
  padding-bottom: 40px;
  background-size: cover;
  background-image: url("/rect%20light.svg");
}
.main-content-container249 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container250 {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.main-content-container251 {
  gap: 20px;
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container252 {
  cursor: pointer;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.main-content-image21 {
  width: auto;
  height: 20px;
  z-index: 100;
  object-fit: cover;
}
.main-content-text225 {
  font-style: normal;
  font-weight: 300;
}
.main-content-container253 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.main-content-link24 {
  display: contents;
}
.main-content-container254 {
  fill: var(--dl-color-primary-lila);
  flex: 0 0 auto;
  width: 30px;
  cursor: pointer;
  height: 30px;
  display: flex;
  padding: 5px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.main-content-icon38 {
  width: 100%;
  height: 100%;
}
.main-content-link25 {
  display: contents;
}
.main-content-container255 {
  fill: var(--dl-color-primary-lila);
  flex: 0 0 auto;
  width: 30px;
  cursor: pointer;
  height: 30px;
  display: flex;
  padding: 5px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.main-content-icon40 {
  width: 100%;
  height: 100%;
}
.main-content-container256 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.main-content-container257 {
  gap: 30px;
  flex: 0 0 auto;
  color: var(--dl-color-primary-hell);
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container258 {
  cursor: pointer;
  display: flex;
  opacity: 0.6;
  transition: 0.1s;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-container258:hover {
  opacity: 1;
}
.main-content-text227:hover {
  opacity: 1;
}
.main-content-link26 {
  display: contents;
}
.main-content-container259 {
  cursor: pointer;
  display: flex;
  opacity: 0.6;
  transition: 0.1s;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.main-content-container259:hover {
  opacity: 1;
}
.main-content-text228:hover {
  opacity: 1;
}
.main-content-link27 {
  display: contents;
}
.main-content-container260 {
  cursor: pointer;
  display: flex;
  opacity: 0.6;
  transition: 0.1s;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.main-content-container260:hover {
  opacity: 1;
}
.main-content-text229:hover {
  opacity: 1;
}
.main-content-link28 {
  display: contents;
}
.main-content-container261 {
  cursor: pointer;
  display: flex;
  opacity: 0.6;
  transition: 0.1s;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.main-content-container261:hover {
  opacity: 1;
}
.main-content-text230:hover {
  opacity: 1;
}
.main-content-container262 {
  gap: 30px;
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-navlink1 {
  display: contents;
}
.main-content-container263 {
  cursor: pointer;
  display: flex;
  opacity: 0.6;
  transition: 0.1s;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.main-content-container263:hover {
  opacity: 1;
}
.main-content-text232:hover {
  opacity: 1;
}
.main-content-navlink2 {
  display: contents;
}
.main-content-container264 {
  cursor: pointer;
  display: flex;
  opacity: 0.6;
  transition: 0.1s;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.main-content-container264:hover {
  opacity: 1;
}
.main-content-text233:hover {
  opacity: 1;
}
.main-content-container265 {
  gap: 30px;
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-link29 {
  display: contents;
}
.main-content-container266 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.main-content-container267 {
  flex: 0 0 auto;
  color: #fff;
  width: 100%;
  display: none;
  align-items: flex-start;
}
.main-content-container268 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.main-content-container269 {
  display: flex;
  align-items: flex-start;
}
.main-content-container270 {
  gap: 30px;
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-text245 {
  font-size: 16px;
}
.main-content-container271 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-content-link30 {
  display: contents;
}
.main-content-container272 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.main-content-container273 {
  display: flex;
  align-items: flex-start;
}
.main-content-container274 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.main-content-link31 {
  display: contents;
}
.main-content-container275 {
  fill: var(--dl-color-primary-lila);
  flex: 0 0 auto;
  width: 30px;
  cursor: pointer;
  height: 30px;
  display: flex;
  padding: 5px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.main-content-icon42 {
  width: 100%;
  height: 100%;
}
.main-content-link32 {
  display: contents;
}
.main-content-container276 {
  fill: var(--dl-color-primary-lila);
  flex: 0 0 auto;
  width: 30px;
  cursor: pointer;
  height: 30px;
  display: flex;
  padding: 5px;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.main-content-icon44 {
  width: 100%;
  height: 100%;
}
.main-content-text254 {
  display: inline-block;
}
.main-content-text255 {
  fill: rgb(153, 153, 153);
  color: rgb(153, 153, 153);
  display: inline-block;
  letter-spacing: 1px;
}
.main-content-text256 {
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}
.main-content-text256:hover {
  opacity: 1;
}
.main-content-text257 {
  display: inline-block;
}
.main-content-text258 {
  fill: #444f60;
  color: rgb(68, 79, 96);
  display: inline-block;
  font-size: 3.5rem;
  line-height: 1.2em;
  margin-bottom: 4.525856562845201%;
  animation-name: slideInLeft;
  letter-spacing: 1.2px;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.main-content-text259 {
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.main-content-text263 {
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.main-content-text267 {
  color: var(--dl-color-primary-lila);
  font-style: normal;
  font-weight: 700;
}
.main-content-text268 {
  display: inline-block;
}
.main-content-text269 {
  display: inline-block;
  font-size: 22px;
}
.main-content-text270 {
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}
.main-content-text270:hover {
  opacity: 1;
}
.main-content-text271 {
  display: inline-block;
  font-size: 22px;
}
.main-content-text272 {
  display: inline-block;
}
.main-content-text272:hover {
  opacity: 1;
}
.main-content-text273 {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
.main-content-text274 {
  display: inline-block;
  font-size: 38px;
  font-family: "Open Sans";
  line-height: 1.6;
  text-transform: none;
  text-decoration: none;
}
.main-content-text276 {
  font-weight: 700;
}
.main-content-text277 {
  display: inline-block;
}
.main-content-text278 {
  display: inline-block;
}
.main-content-text279 {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
.main-content-text280 {
  display: inline-block;
}
.main-content-text281 {
  display: inline-block;
}
.main-content-text281:hover {
  opacity: 1;
}
.main-content-text282 {
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
}
.main-content-text282:hover {
  opacity: 1;
}
.main-content-text283 {
  display: inline-block;
}
.main-content-text284 {
  display: inline-block;
}
.main-content-text285 {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
.main-content-text286 {
  display: inline-block;
  font-size: 22px;
}
.main-content-text287 {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
.main-content-text288 {
  display: inline-block;
  font-size: 22px;
}
.main-content-text289 {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.main-content-text290 {
  display: inline-block;
}
.main-content-text291 {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.main-content-text292 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 5%;
  animation-name: slideInLeft;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
@media(max-width: 479px) {
  .main-content-container103 {
    padding: 4px;
    border-radius: 10px;
  }
  .main-content-container104 {
    border-radius: 10px;
  }
  .main-content-container105 {
    display: none;
  }
  .main-content-container106 {
    display: none;
  }
  .main-content-container109 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-content-container111 {
    height: 756px;
    padding-right: 10%;
    flex-direction: column-reverse;
  }
  .main-content-container112 {
    width: 100%;
  }
  .main-content-container113 {
    gap: 30px;
    align-items: center;
  }
  .main-content-container114 {
    width: 80px;
    height: 30px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
  }
  .main-content-text104 {
    text-align: center;
  }
  .main-content-text105 {
    text-align: center;
  }
  .main-content-container118 {
    width: 100%;
  }
  .main-content-container120 {
    width: 100%;
    height: 260px;
    display: none;
  }
  .main-content-container121 {
    display: none;
  }
  .main-content-container124 {
    padding-bottom: 10%;
  }
  .main-content-container125 {
    gap: 20px;
    padding-top: 5%;
    margin-bottom: 0%;
    flex-direction: column;
    padding-bottom: 5%;
  }
  .main-content-container126 {
    width: 100%;
    align-items: center;
  }
  .main-content-container127 {
    width: 100%;
  }
  .main-content-text110 {
    text-align: center;
  }
  .main-content-text111 {
    text-align: center;
  }
  .main-content-container132 {
    gap: 10px;
    align-items: center;
    flex-direction: column;
  }
  .main-content-container133 {
    flex-direction: column;
  }
  .main-content-text119 {
    text-align: center;
    padding-left: 0px;
  }
  .main-content-container135 {
    gap: 10px;
    align-items: center;
  }
  .main-content-container136 {
    flex-direction: column;
  }
  .main-content-text121 {
    text-align: center;
    padding-left: 0px;
  }
  .main-content-container140 {
    gap: 40px;
    flex-direction: column;
  }
  .main-content-container141 {
    width: 100%;
    padding-right: 0px;
  }
  .main-content-container143 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .main-content-container145 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .main-content-container147 {
    width: 100%;
    padding-left: 0px;
  }
  .main-content-container149 {
    display: none;
  }
  .main-content-container175 {
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .main-content-container176 {
    gap: 40px;
    flex: 0 0 auto;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .main-content-text146 {
    text-align: center;
  }
  .main-content-container182 {
    display: none;
  }
  .main-content-container185 {
    width: 100%;
  }
  .main-content-container198 {
    height: 1388px;
    padding-bottom: 10%;
  }
  .main-content-container199 {
    width: 100%;
  }
  .main-content-container200 {
    flex-direction: column;
  }
  .main-content-container201 {
    border-radius: 40px;
  }
  .main-content-container204 {
    border-radius: 40px;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
  }
  .main-content-container207 {
    flex-direction: column;
  }
  .main-content-container208 {
    border-radius: 40px;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
  }
  .main-content-container211 {
    border-radius: 40px;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
  }
  .main-content-container214 {
    gap: 40px;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .main-content-container217 {
    width: 100%;
  }
  .main-content-container220 {
    flex-direction: column;
    padding-bottom: 10%;
  }
  .main-content-text189 {
    text-align: center;
  }
  .main-content-text208 {
    text-align: center;
  }
  .main-content-container226 {
    gap: 20px;
    padding-bottom: 10%;
  }
  .main-content-text211 {
    text-align: center;
  }
  .main-content-text214 {
    text-align: center;
  }
  .main-content-container228 {
    height: 483px;
    flex-direction: column;
  }
  .main-content-container243 {
    height: 1080px;
  }
  .main-content-text221 {
    text-align: center;
  }
  .main-content-text224 {
    text-align: center;
  }
  .main-content-container245 {
    height: 836px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-traffls-border);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: #fff;
  }
  .main-content-container248 {
    display: none;
  }
  .main-content-container267 {
    gap: 40px;
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    padding-bottom: 100px;
    background-size: cover;
    background-image: url("/rect%20light.svg");
    background-position: top;
  }
  .main-content-text242 {
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  .main-content-container268 {
    gap: 60px;
    height: 400px;
    align-items: center;
    flex-direction: column;
  }
  .main-content-container269 {
    gap: 40px;
    opacity: 0.7;
    align-items: center;
    flex-direction: column;
  }
  .main-content-container270 {
    gap: 20px;
    height: auto;
    align-items: center;
  }
  .main-content-text245 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
  .main-content-container271 {
    gap: 20px;
    opacity: 0.7;
    align-items: center;
  }
  .main-content-text247 {
    text-align: center;
  }
  .main-content-container273 {
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
  .main-content-text253 {
    text-align: center;
  }
}
